Microsoft Visual Studio Solution File, Format Version 12.00
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Sample.Library", "src\Sample.Library\Sample.Library.csproj", "{11111111-1111-1111-1111-111111111111}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Sample.VstestTests", "tests\Sample.VstestTests\Sample.VstestTests.csproj", "{22222222-2222-2222-2222-222222222222}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "Sample.MtpTests", "tests\Sample.MtpTests\Sample.MtpTests.csproj", "{33333333-3333-3333-3333-333333333333}"
EndProject
Global
EndGlobal
